Source: freegeek-manual
Section: ubuntu/doc
Priority: extra
Maintainer: Vagrant Cascadian <vagrant@debian.org>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.9.1
Homepage: http://freegeek.org
Vcs-Git: git://git.freegeek.org/git/freegeek-manual.git
Vcs-Browser: http://git.freegeek.org/?p=freegeek-manual.git;a=summary

Package: freegeek-manual
Architecture: all
Depends: ${misc:Depends}
Recommends: evince
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
