[Desktop Entry]
Name=Freegeek Manual
GenericName=Freegeek Manual
Comment=Free Geek Xubuntu 12.04 User Guide
Exec=evince /usr/share/doc/freegeek-manual-12.04/Manual_12.04.pdf
Icon=FreeGeek
Terminal=false
Type=Application
